* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  font-family: 'Poppins', sans-serif;
}


/* Nav */
nav {
  width: 90px;
  height: 100vh;
  background-color: #282e3a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  height: 85px;
  background-color: #58c939;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 25px;
}

.menu {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  /* border: 1px solid white; */
  /* align-items: center; */
}

.soc{
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.acc {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #3f444f;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .acc i {
  display: block;
  width: 5px;
  height: 5px;
} */

.menu-button {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  width: 23px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu-bar .bar {
  width: 20px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}


/* Main */
main {
  width: 100%;
  padding-left: 90px;
  display: flex;
  position: relative;
  /* border: 1px solid black; */
}

.left {
  width: 50%;
  /* border: 1px solid black; */
}

.upper {
  height: 80px;
  padding: 38px 45px 0 0;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* border: 1px solid black; */
}

.middle {
  margin-top: 30px;
  height: 350px;
  /* padding: 50px 60px 50px 0; */
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  line-height: 4.3rem;
  z-index: 2;
}

.desc {
  width: 70%;
  font-size: .85rem;
  font-weight: 500;
}

.learnmore {
  width: 145px;
  height: 40px;
  background-color: #58c939;
  box-shadow: 0px 10px 20px 5px rgba(39, 113, 9, 0.4);
  font-size: .8rem;
  color: white;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  top: -5px; */
}

.bottom {
  margin-top: 70px;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.addit {
  width: 180px;
  height: 95px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.addit-tit {
  width: 80%;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 22px;
  height: 2px;
  background-color: black;
  position: relative;
  bottom: -10px;
}

.bottom p {
  font-size: .55rem;
}

.right {
  width: 50%;
  /* border: 1px solid black; */
  background-image: url(img/bg1.jpg);
  background-size: cover;
  background-position: bottom right;
  position: relative;
}

.right2 {
  /* width: 100%;
  height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play .inside {
  width: 90px;
  height: 90px;
  background-color: #58c939;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-r {
  height: 80px;
  padding: 20px 45px 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
  position: relative;
  /* border: 1px solid black; */
}

.home-prod {
  width: 175px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.home-prod a {
  font-size: .8rem;
  text-decoration: none;
  color: white;
}

.profil {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}

.midd {
  position: absolute;
  top: 53%;
  left: 46%;
}

.angka {
  margin-left: 53px;
  margin-bottom: 12px;
}

.angka h2 {
  margin-bottom: -5px;
}

.angka p {
  margin-left: 12px;
  font-size: .7rem;
  font-weight: bold;
}

.play-box {
  background-color: #58c939;
  background-image: url(img/play-img2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 200px;
  height: 100px;
  border-radius: 0 20px 20px 0;
  box-shadow: -12px 17px 40px 5px rgba(39, 113, 9, 0.4);
  position: relative;
}

.play-box i {
  position: absolute;
  top: 42%;
  /* bottom: 0; */
  right: 4%;
}